/* start hero section */
.hero-section {
    display: flex;
    flex-direction: column;
    padding: 0 5% 2%;
    margin: 0;
    background-image: linear-gradient(to right, #1f2937, #223957, #224a7a, #235b9e, #276cc3, #276cc3, #276cc3, #276cc3, #235b9e, #224a7a, #223957, #1f2937);
    background-color: #1f2937;
}

.hero-section h1 {
    font-size: 48px;
    font-weight: 900;
    color: #fdfdfd;
    margin: 20px 0 10px;
    text-shadow: 2px 2px #000;
}

.hero-section h2 {
    font-size: 40px;
    color: #000000;
}

.hero-section p  {
    font-size: 18px;
    color: #ffffff;
    margin-top: 0;
}

.placeholder-img {
    max-width: auto;
    max-height: 215px;
    border: 5px double #70e4f3;
    border-radius: 0 25% 0 25%;
    margin: auto;
    align-self: center;
    padding: 10px;
    box-shadow: 2px 2px 2px #223957;
}

.placeholder-img:hover {
    transform: rotate(10deg);
}
/* end hero section */

/* ---------------------------------------- */

/* start product section */
.products-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    background-color: #567cb3d8;
}

.grid-container h3 {
    color: #fff;
    justify-self: center;
    align-self: center;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto;
    padding: 20px;
    margin: 10px auto;
    background-image: linear-gradient(to right, #1f2937, #223957, #224a7a, #235b9e, #276cc3, #276cc3, #276cc3, #276cc3, #235b9e, #224a7a, #223957, #1f2937);
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-align: normal;
}

.product-box {
    border: 5px double #70e4f3;
    max-height: 200px;
    align-items: center;
    width: auto;
    border-radius: 0 25% 0 25%;
    padding: 5px;
} 

.product-box-img {
    width: auto;
    height: 150px;
    border-radius: 0 25% 0 25%;
}

.product-box-img:hover {
    transform: scale(1.2);
}

.product-text {
    text-align: center;
    color: #fff;
    font-size: 16px;
}

.products-section > a {
    justify-self: center;
    align-self: center;    
}

/* end product section */

/* ---------------------------------------- */



/* responsiveness */

@media only screen and (max-width: 640px) {
    .hero-section, .products-section {
        display: flex;
        flex-direction: column;
        width: 100vw;
        margin: auto;
        justify-content: center;
        align-items: center;
    }
    .product-text {
        font-size: 1.3rem;
        padding-top: 5px;
    }
}

/* mobile */
@media only screen and (max-width: 445px) {
    /* mobile hero section */
    .hero-section {
        display: flex;
        flex-direction: column;
        margin: auto;
        padding: 10px;
        justify-content: space-around;
        align-items: center;
    }    
    .hero-section h1 {
        font-size: 26px;
    }
    .hero-section img {
        max-width: 245px;
        padding: 0;
    }
    .hero-section h2 {
        font-size: 22px;
        color: #fff;
        padding: 10px;
    }
    .hero-section p {
        font-size: 14px;
        text-align: center;
        padding: 10px;
        line-height: 1.6;
        letter-spacing: 1.4px;
    }
    /* mobile product section */

    .products-section {
        padding: 10px 0;
    }

    .grid-container {
        border-radius: 0;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto auto auto;
    }

    .product-box {        
        padding: 0 10px;
        margin: auto;
        border: none;
    }

    .product-box-img {
        max-width: 170px;
        height: auto;    
        padding: 0;
        margin: 0;
    }
    .product-text {
        font-size: 16px;
    }
}

/* Galaxy fold mobile */
@media only screen and (max-width: 280px) {
/* mobile product section */

    .products-section {
        padding: 10px 0;
    }

    .grid-container {
        border-radius: 0;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto auto;
    }

    .product-box {        
        justify-content: center;
        align-items: center;
        border: none;
    }

    .product-box-img {
        max-width: 170px;
        height: auto;    
        padding: 5px 0;
        margin: 0;
    }

    .product-text {
        margin: 5px 0;
        font-size: 16px;
    }    
  }  