.header-logo {
    height: 120px;
    border-radius: 50%;
}

body {
    margin: 0;
    padding: 0;
    max-height: 100vh;
    max-width: 100vw;
}

.parallax {
    background-image: url("../../images/vr/ARVR_DigMar_Blog\ Image.png");
    height: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

* {
    font-family: "Roboto", sans-serif;
    transition: 1s ease-in-out;
}

button {
    background-color: #4C0AE7;
    color: #fff;
    padding: 10px;
    width: 100px;
    border: none;
    border-radius: 10%;
    font-weight: 900;
    text-align: center;
    cursor: pointer;
}

/* start header / nav section  */
header, .hero-section  {
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(to left, #4c0ae7, #004cf9, #006eff, #0089ff, #00a2ff, #29aaff, #3fb2ff, #52b9fe, #70b4ff, #8caeff, #a5a8fc, #bca1f4);
    padding: 1% 5%;
}

nav {
    display: flex;
    justify-content: flex-end;
    width: 60%;
}
.nav-link {
    align-self: center;
    text-decoration: none;
    font-size: 22px;
    color: #e5e7eb;    
    margin: 0 20px;
}
/* end header / nav section  */

/* ---------------------------------------- */

/* start hero section */
.hero-section {
    padding: 5%;
    margin: 20px 0;
    background-image: radial-gradient(circle, #4c0ae7, #004cf9, #006eff, #0089ff, #00a2ff, #29aaff, #3fb2ff, #52b9fe, #70b4ff, #8caeff, #a5a8fc, #bca1f4);
}
.hero-col1 {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 10px;
    justify-content: center;
    align-items: flex-start;
}
.hero-section h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    margin: 20px 0 10px;
}
.hero-section p  {
    font-size: 18px;
    color: #e5e7eb;
    margin-top: 0;
}
.hero-col2 {
    display: flex;
    background-color: inherit;
    width: auto;
    max-height: 260px;
    justify-content: center;
    margin-left: 20px;
    border: 2px #70e4f3 solid;
    border-radius: 20px;
}
.placeholder {
    color: #ffffff;
    text-align: left;
    /* padding: 10px 0; */
    /* background-color: #004cf9; */
    
    border-radius: 20px;
}
.placeholder-img {
    max-height: 215px;
    border-radius: 20px ;
}
/* end hero section */

/* ---------------------------------------- */

/* start info section */
.info-section {
    display: flex;
    flex-direction: column;
    padding: 2%;
}

.grid-container h3 {
    text-align: center;
    align-self: center;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: auto;
    background-color: rgba(165, 168, 252, 0.849);
}

.col-grid-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 15px;
    padding: 10px;
    grid-template-rows: 200px 200px;
    justify-content: center;
    align-items: center;
}

.item1 {
    grid-row: 1 / 4;
}

.row {
    display: flex;
}
.col {
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #4C0AE7;
    height: 100%;
    border-right: #4C0AE7 4px solid;
    justify-content: center;
    align-items: center;
}

.product-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: auto;
    height: 130px;
    padding: 1%;
}

.product-box {
    border: 5px double #70e4f3;
    max-height: 150px;
    justify-content: space-evenly;
    align-items: center;
    width: auto;
    border-radius: 10%;
    margin: auto;
    padding: 10px;
} 

.product-box-img {
    width: auto;
    max-height: 110px;
    border-radius: 10%;
}

.product-text {
    text-align: center;
    color: #000000;
    font-size: 18px;
}

/* end info section */

/* ---------------------------------------- */

/* start quote section */

.quote-section {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    justify-content: center;
    align-items: center;
}

.quote {
    width: 65%;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
    text-align: left;
    padding: 5%;
}

.legend {
    margin-top: 20px;
    font-weight: 600;
    font-size: 20px;
    font-style: normal;
    color: #1f2937;
    float: right;
}

/* end quote section */

/* ---------------------------------------- */

/* start call to action section */

.cta-section {
    display: flex;
    width: 80%;
    margin: auto;
    padding: 5%;
}

.cta-banner {
    display: flex;
    flex-direction: row;
    background-color: #3882f6;
    border-radius: 5px;
    margin: auto;
    height: 110px;
    width: 80%;
    justify-content: space-evenly;
    align-items: center;
    padding: 1%;
}

aside {
    color: #fff;
    align-content: center;
    line-height: 0.4;
}

.cta-btn {
    border: #fff 2px solid; 
    /* float: right;    */
}

/* end call to action section */

/* ---------------------------------------- */

/* start footer section */

footer {
    text-align: center;
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;
    padding: 3%;
}

#footer-form {
    background-image: linear-gradient(to left, #4c0ae7, #004cf9, #006eff, #0089ff, #00a2ff, #29aaff, #3fb2ff, #52b9fe, #70b4ff, #8caeff, #a5a8fc, #bca1f4);
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
}

#footer-form h5 {
    color: #000;
}

label {
    padding: 0 10px;
}

.copy {
    color: #fff;
    text-align: center;
}

/* end footer section */

/* responsiveness */

@media only screen and (max-width: 640px) {
    .hero-section, .info-section, .quote-section, .cta-section, .info-row {
        display: flex;
        flex-direction: column;
        margin: auto;
        justify-content: center;
        align-items: center;
    }
    .hero-col1, .hero-col2, .info-col, .cta-banner {
        width: 100%;
        margin: auto;
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    .cta-banner, aside {
        flex-direction: column;
        line-height: normal;
        height: auto;
    }
    .info-text {
        visibility: hidden;
    }
    .quote-section {
        padding: 1%;
    }
    .quote-section p {
        font-size: 28px;
        padding: 1%;
        text-align: center;
    }
    
    #footer-form {
        flex-direction: column;
    }
}