* {
  font-family: 'Roboto', sans-serif;
  transition: 1s ease-in-out;
}

.header-logo {
  height: 120px;
  border-radius: 50%;
}

.header-logo:hover {
  animation-name: spin;
  animation-direction: alternate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}

@keyframes spin {
  from { 
      transform: rotate(0deg);
  }
  to {
      transform: rotate(360deg);
  }
} 

button, #form-btn {
  background-color: #4C0AE7;
  color: #fff;
  padding: 10px;
  width: 50%;
  border: none;
  border-radius: 20px;
  font-weight: 900;
  text-align: center;
  cursor: pointer;
  box-shadow: 4px 4px 2px #3f1f80;
  margin: 5px 0;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

.parallax {
  background-image: url("../../images/vr/ARVR_DigMar_Blog\ Image.png");
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

/* start header / nav section  */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  background-image: linear-gradient(to left, #4c0ae7, #004cf9, #006eff, #0089ff, #00a2ff, #29aaff, #3fb2ff, #52b9fe, #70b4ff, #8caeff, #a5a8fc, #bca1f4);
  padding: 1% 5%;
}

nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 60%;
}

.nav-link {
  align-self: center;
  text-decoration: none;
  font-size: 22px;
  color: #e5e7eb;
  margin: 0 20px;
}

/* end header / nav section  */

/* start team cards section  */

.container {
  background-color: rgba(165, 168, 252, 0.849);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}


.member-card img {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 5px double #70e4f3;
  padding: 5px;
}

.member-card {
  display: flex;
  justify-content: space-around;
  max-width: 400px;
  margin: 25px;
  background-color: #4a5e77;
  color: #e5e7eb; 
  border-bottom: 6px solid #3f1f80;
  border-radius: 10px;
  padding: 20px;
}

.member-card h1 {
  color: #70e4f3; 
  text-align: center;
  font-size: 20px;
}

.contact {
  text-align: right;
}

.contact > a > i {
  margin: 0 5px;
  font-size: 2rem;
  color: #70e4f3;  
}

/* end team cards section  */

/* start footer section */

footer {
  width: 100vw;
  text-align: center;
  background-color: #1f2937;
  display: flex;
  justify-content: space-around;
  padding: 3%;
}

#footer-form {
  background-image: linear-gradient(
    to left,
    #4c0ae7,
    #004cf9,
    #006eff,
    #0089ff,
    #00a2ff,
    #29aaff,
    #3fb2ff,
    #52b9fe,
    #70b4ff,
    #8caeff,
    #a5a8fc,
    #bca1f4
  );
  padding: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-radius: 10px;
}

#footer-form h5 {
  color: #000;
}

label, input {
  padding: 0 10px;
  font-size: 14px;
} 

#form-btn { 
  width: auto;
  margin: 0 10px;
}

.copy {
  color: #fff;
  text-align: center;
  align-self: center;
}

.to-top-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.to-top-btn > a {
  color: #fff;
  text-decoration: none;
  flex-direction: column;
}

.to-top-btn > a > i {
  margin: 0 5px;
  font-size: 2rem;
  color: #70e4f3;  
}

/* end footer section */

/* responsiveness */

@media only screen and (max-width: 768px) {
  footer {
      flex-direction: column;
  }
} 

@media only screen and (max-width: 640px) {
  .parallax {
      background-image: none;
      background-color: #1f2937;
  }
  header {
      width: 100vw;
  }
  nav {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
  }
  .team-section {
      display: flex;
      flex-direction: column;
      width: 100vw;
      margin: auto;
      justify-content: center;
      align-items: center;
  } 
      
  #footer-form {
      width: 100vw;
      flex-direction: column;
  }
}

/* Galaxy fold mobile */
@media only screen and (max-width: 280px) {
  body {
      width: 100vw; 
      background-color: #1f2937;       
  }

  header {
      justify-content: space-evenly;  
      height: 100px; 
  }

  .header-logo {
      margin-left: -145px;
  }

  nav {
      display: flex;
      flex-direction: row;
      width: 100vw;
      justify-content: center;
      align-items: center;
  }

  .nav-link {
      font-size: 18px;
      color: #fff;
  }

  /* mobile hero section */
  .team-section {
      display: flex;
      flex-direction: column;
      margin: auto;
      padding: 10px;
      justify-content: space-around;
      align-items: center;
  }
  
  .member-card {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100vw;
  }

  .contact {
      text-align: center;
  }
  
  /* mobile buttons */
  button {
      display: block;
      width: 70vw;
      margin: auto;
      text-align: center;
  }

  /* mobile footer */
  footer {
      display: flex;
      flex-direction: column;
      /* width: 100vw; */
      background-image: none;
      background-color: #3f1f80;
  }

  #footer-form {
      align-items: center;
  }

  .copy {
      margin: 10px 0;
  }
}
