body {
    margin: 0;
    padding: 0;
    width: 100vw;
}

* {
    font-family: "Roboto", sans-serif;
    transition: 1s ease-in-out;
}

button {
    background-color: #3882f6;
    color: #fff;
    padding: 10px;
    width: 100px;
    border: none;
    border-radius: 8px;
    font-weight: 900;
    text-align: center;
    cursor: pointer;
    margin: 5px 0;
}

/* start header / nav section  */
header, .hero-section  {
    display: flex;
    justify-content: space-between;
    background-color: #1f2937;
    padding: 1% 5%;
}

header{
    margin-bottom: 0px;
}

.header-logo {
    font-size: 24px;
    color: #f9faf8;
    align-self: center;
    width: 30%;
    margin-left: 10px;
}

nav {
    display: flex;
    justify-content: flex-end;
    width: 60%;
}

.nav-link {
    align-self: center;
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;    
    margin: 0 20px;
}
/* end header / nav section  */

/* ---------------------------------------- */

/* start hero section */
.hero-section {
    width: 100vw; 
    justify-content: center;
}

.hero-col1 {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 10px;
    margin: 0 10px;
}

.hero-section h1 {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.hero-section p  {
    font-size: 18px;
    margin-top: -20px;
    color: #e5e7eb;
}

.hero-col2 {
    display: flex;
    background-color: #808080;
    width: 50%;
    justify-content: center;    
}

.placeholder {
    color: #e5e7eb;
    align-self: center;
}
/* end hero section */

/* ---------------------------------------- */

/* start info section */
.info-section {
    display: flex;
    flex-direction: column;
}

.info-section h3 {
    margin-top: 20px;
    text-align: center;
}

.grid {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: 20px auto;
}

.info-row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin: auto;
}

.info-col {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 110px;
    height: auto;
    margin: 10px 20px;
}

.info-box {
    border: 3px solid #3882f6;
    height: 110px;
    justify-content: space-evenly;
    width: 110px;
    border-radius: 10%;
    margin: auto;
} 

.info-text {
    text-align: center;
    color: #56595f;
    font-size: 12px;
}

/* end info section */

/* ---------------------------------------- */

/* start quote section */

.quote-section {
    display: flex;
    flex-direction: column;
    background-color: #e5e7eb;
    justify-content: center;
    align-items: center;
    margin-bottom: 0px;
}

.quote {
    width: 65%;
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1f2937;
    text-align: left;
    padding: 8%;
}

.legend {
    margin-top: 20px;
    font-weight: 600;
    font-size: 20px;
    font-style: normal;
    color: #1f2937;
    float: right;
}

/* end quote section */

/* ---------------------------------------- */

/* start call to action section */

.cta-section {
    display: flex;
    width: 100vw;
    margin: auto;
    padding: 5% 0;
    justify-content: center;
    align-items: center;
}

.cta-banner {
    display: flex;
    flex-direction: row;
    background-color: #3882f6;
    border-radius: 5px;    
    height: 110px;
    width: 80vw;
    justify-content: space-evenly;
    align-items: center;  
}

aside {
    color: #fff;
    justify-content: center;
}

.cta-btn {
    border: #fff 2px solid; 
}

/* end call to action section */

/* ---------------------------------------- */

/* start footer section */

footer {
    text-align: center;
    background-color: #1f2937;
    display: flex;
    justify-content: space-around;
    padding: 3%;
}

.copy {
    color: #fff;
    text-align: center;
}

/* end footer section */

/* responsiveness */

@media only screen and (max-width: 768px) {
    .cta-section, .cta-banner {
        width: 100vw;    
    }
    aside p {
        padding: 10px;
    }
}

@media only screen and (max-width: 640px) {
    section {
        margin: 10px 0;
        padding: 10px 0;
    }
    
    .hero-section, .info-section, .quote-section, .cta-section {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
    }

    .hero-col1, .hero-col2, .info-col, .cta-banner {
        width: 100%;
        margin: auto;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .info-row {
        display: flex;
        flex-direction: column;
    }

    .cta-banner, aside {
        flex-direction: column;
        line-height: normal;
        height: auto;
        width: 100vw;
    }

    aside p {
        width: 90%;
        padding: 10px;
    }

    .quote-section q {
        font-size: 28px;
        text-align: center;
    }

    .grid {
        flex-direction: column;
    }

    .cta-banner {
        padding: 5px;
        margin-bottom: 10px;
    }
}

/* Galaxy fold mobile */
@media only screen and (max-width: 280px) {

    header {
        justify-content: space-evenly;  
        height: 100px; 
        padding: 0 5px;
    }

    .header-logo {
        margin-left: -95px;
    }

    nav {
        flex-direction: row;
        width: 100vw;
        justify-content: space-evenly;
        align-items: center;
    }

    .nav-link {
        font-size: 14px;
    }

    /* mobile hero section */
    
    .hero-section {
        width: 100vw;
        padding: 0;
    }
    
    .hero-section h1 {
        font-size: 28px;
    }

    .hero-section p {
        width: 90vw;
        font-size: 16px;
        text-align: center;
        padding-bottom: 5px;
        margin: auto;
    }

    .quote-section q, .legend {
        font-size: 18px;
        padding: 0;
    }

    .cta-banner {
        width: 100vw;
        padding: 5px;
        margin-bottom: 10px;
    }

    aside p {
        padding: 5px;
    }

    .cta-btn {
        margin: 5px 0;
    }
}